@use 'reset';
@use 'style-variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: center / cover no-repeat url(/bg.jpg);
  margin: 0;
  background-attachment: fixed;
  overflow-x: hidden;
}

#app {
  display: flex;
  justify-content: center;
  width: 100vw;
}

// ----------------------------------------------------------------------
.player {
  width: 320px;
  background-color: style-variables.$player-color;
  padding: 20px;
  border-radius: 20px;
  margin-top: 7%;
  margin-bottom: 20px;
}

.img-cont {
  width: 100%;
}

.cover-img {
  border-radius: 20px;
}

.music-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.title {
  color: style-variables.$paramount-color;
  font-size: 1rem;
}

.subtitle,
.time-cont {
  color: style-variables.$secondary-color;
  font-size: 0.75rem;
  font-weight: 500;
}

// ----------------------------------------------------------------------
.controls {
  display: flex;
  flex-direction: column;
}

.time-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.progress-bar-cont {
  cursor: pointer;
  position: relative;
  background-color: style-variables.$paramount-color;
  height: 4px;
  border-radius: 5px;
  margin-top: 3px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: style-variables.$active-color;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  height: 45px;
}

.button {
  background-color: transparent;
}

#pause-btn {
  background-color: style-variables.$active-color;
  border-radius: 50%;
}

#pause-btn:active {
  background-color: #ad3869;
}

@media (max-width: 380px) {
  #app {
    padding: 20px;
  }
}